{% extends 'layouts.html' %}
{% load static %}

{% block content%}
<div class="box" style="height: 600px; margin-top: -300px;">
    <body>
        <form action="#" style="max-width:500px;margin:auto">
          <h1>ลืมรหัสผ่าน</h1>
          <div class="imgcontainer">
            <img src="{% static 'otp.png' %}" class="avatar">
          </div>
          <p> ระบบได้จัดส่งรหัส OTP ไปยังอีเมล์เรียบร้อย <br> กรุณาตรวจสอบอีเมล์ </p>
        
          <div class="otp-box">
            <input type="text" class="otp-input" maxlength="1">
            <input type="text" class="otp-input" maxlength="1">
            <input type="text" class="otp-input" maxlength="1">
            <input type="text" class="otp-input" maxlength="1">
          </div>

        <button type="submit" class="btn">ยืนยันรหัสผ่าน</button>
        
    </form>
    </body >       
</div>
{% endblock %}