{% extends 'layouts.html' %}
{% load static %}

{% block content%}
<div class="box">
    <body>
        <form action="rePassword", method="get" style="max-width:500px;margin:auto">
          <input type="hidden" id="filled_email" name="filled_email" value="{{filled_email}}">
          <h1>ลืมรหัสผ่าน</h1>
          <div class="imgcontainer">
            <img src="{% static 're-password.png' %}" class="avatar">
          </div>
          <div class="input-container">
            <i class="fa fa-lock icon"></i>
            <input class="input-field" type="password" name="new_password" placeholder="กรอกรหัสผ่านใหม่">
          </div>
        
          <div class="input-container">
            <i class="fa fa-lock icon"></i>
            <input class="input-field" type="password" name="confirm_password" placeholder="ยืนยันรหัสผ่าน">
          </div>
        
          <button type="submit" class="btn">ถัดไป</button>
        </form>
    </body>
</div>
{% endblock %}
